/* app global scss */
html {
  overflow: hidden !important;
}

.q-drawer--left.q-drawer--bordered {
  border-right: none !important;
}

a {
  cursor: pointer;
  color: #ff2d2d;
}

a:hover {
  text-decoration: underline;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");
.q-table__title {
  font-size: 18px !important;
  letter-spacing: 0.005em !important;
  font-weight: 400 !important;
}

@media screen and (max-width: 500px) {
  .q-table__title {
    font-size: 16px !important;
    letter-spacing: 0.005em !important;
    font-weight: 400 !important;
  }
}
